body {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Impact', sans-serif;
    font-size: 25px;
}

.button-container {
    display: flex;
    margin-top: 20px;
}

.button {
    position: relative;
    margin: 0 10px;
    padding: 10px;
    border: none;
    background: none;
    z-index: 1;
    cursor: pointer;
}

.img, .img_hover {
    border: none;
    height: 250px;
}

.img_hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.button .img_hover {
    display: none;
}

.button:hover .img {
    opacity: 0;
}

.button:hover .img_hover {
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

h1 {
    text-align: center;
}

#computer_choice {
    height: 250px;
}

#canvas{
    position: fixed;
    top: 0;
    left: 0;
}
